@model OrusFinancas.Models.ViewModels.UsuarioCadastroViewModel;
 
@{
    ViewData["Title"] = "Novo Usuário";
}

<h1 class="display-4">Cadastrar Novo Usuário</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <div class="form-group mb-3">
                <label asp-for="SenhaPura" class="control-label"></label>
                <input asp-for="SenhaPura" class="form-control" />
                <span asp-validation-for="SenhaPura" class="text-danger"></span> 
            </div>

            <div class="form-group mb-3">
                <label asp-for="ConfirmarSenha" class="control-label"></label>
                <input asp-for="ConfirmarSenha" class="form-control" />
                <span asp-validation-for="ConfirmarSenha" class="text-danger"></span> 
            </div>
            
            <div class="form-group mt-4">
                <input type="submit" value="Salvar" class="btn btn-success" />
                <a asp-action="/" class="btn btn-secondary">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}